htop/
github-copilot/
discord/
Ultralytics/
nvim.back/
BraveSoftware/
QtProject/
QtProject.conf
haruna/
GIMP/
avante.nvim/
cachix/
dconf/
kdeconnect/
kwalletrc
nextjs-nodejs/
wireshark/
obs-studio/
gtk-3.0/bookmarks
dunst/
systemd/user/dunst.service
# pavucontrol.ini
# mimeapps.list
# github-copilot.vim/
