htop/
github-copilot/
discord/
Ultralytics/
nvim.back/
BraveSoftware/
QtProject/
QtProject.conf
haruna/
GIMP/
avante.nvim/
cachix/
dconf/
kdeconnect/
kwalletrc
nextjs-nodejs/
wireshark/
obs-studio/
gtk-3.0/bookmarks
dunst/
systemd/user/dunst.service
pavucontrol.ini
mimeapps.list
github-copilot.vim/


nwg-look/config
pulse/cookie
rofi.mana/config.rasi
rog/rog-control-center.cfg
vlc/vlc-qt-interface.conf
vlc/vlcrc
xsettingsd/xsettingsd.conf
youtube-tui/appearance.yml
youtube-tui/cmdefine.yml
youtube-tui/commandbindings.yml
youtube-tui/commands.yml
youtube-tui/keybindings.yml
youtube-tui/main.yml
youtube-tui/pages.yml
youtube-tui/remaps.yml
youtube-tui/search.yml
