htop/
github-copilot/
discord/
Ultralytics/
nvim.back/
BraveSoftware/
QtProject/
QtProject.conf
haruna/
GIMP/
avante.nvim/
cachix/
dconf/
kdeconnect/
kwalletrc
nextjs-nodejs/
wireshark/
obs-studio/
gtk-3.0/bookmarks
dunst/
systemd/user/dunst.service
pavucontrol.ini
mimeapps.list
github-copilot.vim/
nwg-look/
pulse/
rofi.mana/
rog/
vlc/
xsettingsd/
youtube-tui/

gtk-2.0/
gtk-3.0/
gtk-4.0/
gtk-4.0/

nvim/

mpd/
mpv/
github-copilot/
noisetorch/
